.dashboard-component{
    height:100vh;
    display: flex;
    flex-direction: column;
}

.tab-content{
    height:100%;
}

.card-list{
    margin: 2rem;
}

.new-doc-button{
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 60px;
    width: 200px;
}